@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@font-face {
  font-family: inter-var;
  src: url(/public/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: inter-regular;
  src: url(/public/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: inter-bold;
  src: url(/public/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: inter-xbold;
  src: url(/public/fonts/Inter-ExtraBold.ttf);
}

:root {
  font-family: inter-var;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color: #f2f2f2;
  --bg-color: #1B1C1E;
  --second-color: #303030;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inter-var;
  scroll-behavior: smooth;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(254,253,249);
}

main p {
  color: hsl(236, 13%, 42%);
}

.container {
  padding: 0 7%;
}